# Robust Blind Verification

Detail the protocol here

Content to follow ....