# Verification functions

```@autodocs
Modules = [RobustBlindVerification]
Pages   = ["verification_functions.jl","verification_visualisation.jl"]
```